*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  font-family: Roboto;
}

.overlay {
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.overlay.active {
  visibility: visible;
  z-index: 75;
}

.header {
  background: #FFF;
  height: 56px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: box-shadow .2s;
  transition: box-shadow .2s;
}

.header .slider {
  background: dodgerblue;
  height: 5px;
  width: 50vw;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  will-change: transform;
}
.header .slider.right {
  -webkit-transform: translateX(50vw);
          transform: translateX(50vw);
}
.header .tab {
  height: 100%;
  width: 50vw;
  padding: 20px 0;
  color: dodgerblue;
  font: 400 16px/16px Roboto;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
}



.page {
  min-height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  width: 100%;
  position: fixed;
  top: 56px;
  left: 0;
  background: #E4E4E4;
  overflow: scroll !important;
  will-change: transform;
}

.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.users.disabled {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}



.reg {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 0s, .3s;
  transition: opacity 0s, .3s;
}
.reg.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0s .3s, .3s;
  transition: opacity 0s .3s, .3s;
}
.reg h3 {
  padding-top: 56px;
  color: #666;
  font: 500 22px Roboto;
  text-align: center;
}

.reg p {
  color: #666;
  text-align: center;
  font: 500 16px Roboto;
}
.blank{
	display: none;
}
table{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;	
}

th, tr{
	margin: 0 auto;
	padding: 1em 2em;
	line-height: 1em;
	text-align: center;
}

th{
	padding-bottom: 1em;
}


.page{
	display: inline;
	text-align: center;
}

li{
	list-style: none;
	line-height:1em;
}

hr{
	width: 10%;
	margin: 0 auto;
	border-bottom: 0.5px solid black;
}

input, select{
	color: grey;
	padding: 1.5em;
	margin: 0.5em 1em;
	width: 23em;
	border: 0;
	border-bottom: 0.15em solid grey;
	background: transparent;
}


::-webkit-input-placeholder { /* Chrome */
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: grey;
  opacity: 1;
}

#form_button{	
	color: black;
  width: 10em;
  height: 4em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  padding: 0 0.25em 0 0.25em;
	border: 0.15em solid black;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}
